{% extends 'MainBundle::layout.html.twig' %}

{% block title -%} {{parent()}} - Personne{% endblock %}

{% block body -%}
    
    <h1>Liste des personnes</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Service</th>
                <th>Lieu de travail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.nom }}</td>
                <td>{% if entity.dateNaissance %}{{ entity.dateNaissance|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.service }}</td>
                <td>{{ entity.lieuTravail }}</td>
                <td>                
                    <a href="{{ path('personne_show', { 'id': entity.id }) }}" title="Voir"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('personne_edit', { 'id': entity.id }) }}" title="Editer"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ path('personne_delete', { 'id': entity.id }) }}" title="Supprimer"><span class="glyphicon glyphicon-trash" style="color:red"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                
{% endblock %}
